<div class="col-md-4 wrap-content">
  <div class="col-md-2 point-ui-static bg-primary">
    <div class="value">
      {{ article.votes }}
    </div>
    <div class="label">
      Points
    </div>
  </div>

  <div class="col-md-3">
    <div class="title-link">
      <a href="{{ article.link }}">{{article.title}}</a>
    </div>
    <div class="meta">({{ article.domain() }})</div>
    <ul class="">
      <li class="item">
        <a href (click)="voteUp()">
          <i class="glyphicon glyphicon-arrow-up"></i>
          upvote
        </a>
      </li>
      <li class="item">
        <a href (click)="voteDown()">
          <i class="glyphicon glyphicon-arrow-down"></i>
          updown
        </a>
      </li>
    </ul>
  </div>
</div>
