<form class="form col-md-4">
  <h3>Add a Link</h3>

  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" name="title" class="form-control" #newtitle>
  </div>
  <div class="form-group">
    <label for="link">Link:</label>
    <input type="text" name="link" class="form-control" #newlink>
  </div>

  <button (click)="addArticle(newtitle, newlink)" class="btn btn-success">Submit link</button>
</form>
<br>
<div class="col-md-12 clearfix">
  <app-article *ngFor="let article of sortArticel()" [article]="article"></app-article>
</div>
